* {
    scroll-behavior: smooth;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgb(26, 32, 39) !important;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.header-wrapper {
    padding: 5px 0 0;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow: rgb(0 0 0 / 20%) 0 4px 2px -2px, rgb(0 0 0 / 14%) 0 2px 2px 0, rgb(0 0 0 / 12%) 0 2px 6px 0;
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0 4px 2px -2px, rgb(0 0 0 / 14%) 0 2px 2px 0, rgb(0 0 0 / 12%) 0 2px 6px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.header-wrapper a {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.title {
    user-select: none;
    -webkit-user-select: none;
    padding: 0 !important;
    margin-top: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.logo {
    width: 150px;
    margin-left: 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

nav {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.navbar {
    margin: 0;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.nav {
    margin-right: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.navbar-brand {
    font-size: 40px;
    color: rgb(73 73 73);
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.main-container {
    margin-top: 5px;
}

/*masonry*/

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
    padding-top: 2px;
}

/* Style your items */
.my-masonry-grid_column > div {
    margin-bottom: 30px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    display: flex;
    flex-direction: column;
}

.content__wrapper {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0 4px 2px -2px, rgb(0 0 0 / 14%) 0 2px 2px 0, rgb(0 0 0 / 12%) 0 2px 6px 0;
}

.content__wrapper > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.my-masonry-grid .content {
    border-bottom: 2px solid #212529;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.my-masonry-grid .content .article-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 400;
    padding: 2px 15px 0;
    margin-bottom: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.my-masonry-grid .content .excerpt {
    font-weight: 300;
    padding: 0 15px 2px;
    margin-bottom: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.my-masonry-grid .author {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 2px solid #212529;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.my-masonry-grid .author span, .my-masonry-grid .author time {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

@media (max-width: 800px) {
    .my-masonry-grid {
        margin-left: -15px;
    }

    .my-masonry-grid_column {
        padding-left: 15px;
    }

    .my-masonry-grid_column > div {
        margin-bottom: 15px;
    }
}

.form-group input {
    color: rgba(255, 255, 255, 0.75) !important;
}

.form-group textarea {
    color: rgba(255, 255, 255, 0.75) !important;
}

/*article*/

.article_container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    box-shadow: rgb(0 0 0 / 20%) 3px 4px 2px -2px, rgb(0 0 0 / 14%) 0 2px 2px 0, rgb(0 0 0 / 12%) 0 2px 6px 0;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px 20px 10px
}

.article_container h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.article_container > img {
    height: 400px;
    object-fit: contain;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.article_container .author {
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.article_container time {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.article_container > .content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}


/*footer*/

.newsletter_container {
    align-self: center;
    margin-left: 5rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    order: 1
}

.newsletter_container h2 {
    text-align: center;
    font-size: 18px;
    padding: 0 2.5rem 0 0;
    margin: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.newsletter_container form {
    display: flex;
    margin: 0 auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.newsletter_container form div {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.newsletter_container form div .newsletter-input {
    width: 250px;
    color: rgba(255, 255, 255, 0.75);
    border: 0;
    margin-top: 10px;
}

.footer-wrapper {
    margin-top: 15px;
    display: flex;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    height: 120px;
    padding-top: 1rem;
    justify-content: space-between;
}

.newsletter-button {
    margin-top: 10px;
    border: 0;
    width: 110px;
    color: rgba(255, 255, 255, 0.75);
    margin-left: 0.4rem;
}

.newsletter-button:hover {
    color: white;
}


.footer-socials {
    display: flex;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    margin-right: 5rem;
    order: 3;
}

.footer-socials ul {
    display: flex;
    list-style: none;
    gap: 1.3rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    align-items: center;
}

.footer-socials ul li {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.footer-socials ul li a {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.footer-socials ul li a i {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    margin-top: 2rem;
    margin-right: 11rem;
    font-family: 'DM Sans', sans-serif;
    order: 2;
}

.footer-copyright p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.footer-copyright p span {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    color: rgba(255, 255, 255, 0.25);
}

.footer-copyright p a {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}


@media screen and (max-width: 992px) {

    .footer-wrapper {
        align-items: center;
        height: min-content;
        width: 100%;
        flex-direction: column;
    }

    .footer-copyright {
        margin: 0rem auto 1rem !important;
        order: 3;
    }


    .footer-socials {
        margin-top: 1rem;
        margin-right: 1.6rem;
        order: 2;
    }

    .newsletter_container {
        margin: 0;
        order: 1;
    }

    .newsletter_container form {
        align-items: center;
    }

    .newsletter_container h2 {
        padding: 0;
        text-align: center;
    }

    .newsletter_container form {
        flex-direction: column;
    }

    .newsletter_container form div .newsletter-input {
        width: 14rem;
    }

    .newsletter_container form div .newsletter-input::placeholder {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .footer-wrapper .footer-copyright {
        margin: 2rem 0 0 0;
    }
}
